.logo {
  width: 140px;
  margin-bottom: 20px;
}

.loginImg {
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .form {
    height: 100vh !important;
  }
}

.passwordEye {
  cursor: pointer;
}
