@import 'colors.scss';

.btnToggle {
  display: none;
}

@media (max-width: 768px) {
  .btnToggle {
    display: flex;
  }

  .container {
    justify-content: space-between !important;
  }
}

.container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 0px 30px;
  background-color: $dark;
  box-shadow: $elevation_400;
}
