@import 'colors.scss';

.container {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  background-color: $dark;
  box-shadow: $elevation_400;
}
//rgb(160, 213, 178)
