@import 'colors.scss';

.container {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  position: relative;

  p {
    font-size: 12px;
    line-height: 16px;
    margin: 5px 0px 5px 0px;
    color: $text_primary;
    align-self: flex-start;
  }
  .dropZoneContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 72px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #f1f3f9;
    border: 1px dashed $secondary_900;
    border-radius: 10px;

    p {
      font-weight: 400;
      font-size: 13.3px;
      line-height: 125%;
      color: $text_secondary;
      margin: 0;
      width: 100%;
      text-align: center;

      cursor: pointer;
      span {
        color: $secondary_900;
      }
    }
  }

  .dropZoneContainerError {
    @extend .dropZoneContainer;
    background-color: $danger_100;
  }
  aside {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    p {
      font-size: 12px;
      line-height: 16px;
      margin: 5px 0px 0px 0px;
      color: $text_primary;
      max-width: 180px;
    }
    .clickable {
      cursor: pointer;
    }
  }

  .uploadedFile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)), #f1f3f9;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;

    p {
      font-size: 11.11px;
      line-height: 125%;
      color: $text_primary;
      margin: 0;
    }
    .fileIcon {
      margin-right: 16px;
      margin-left: 6px;
    }
    .blueStatusBar {
      height: 2px;
      width: 100%;
      border: none;
      background-color: $success;
      position: absolute;
      bottom: 0;
      left: 0px;
      animation: w100 0.4s ease forwards;
    }
    .redStatusBar {
      height: 2px;
      width: 100%;
      border: none;
      background-color: $danger;
      position: absolute;
      bottom: 0;
      left: 0px;
      animation: w100 0.4s ease forwards;
    }
    .check {
      position: absolute;
      right: 25px;
      bottom: 10px;
      opacity: 0;
      animation: op 0.2s ease forwards;
      animation-delay: 0.5s;
    }
    .errorIcon {
      position: absolute;
      right: 25px;
      animation: op 0.2s ease forwards;
      animation-delay: 0.5s;
    }
  }
}

.errorMesage {
  position: absolute;
  top: 104px;
  display: flex;
  align-items: flex-start;
  margin: 0px;
  width: 360px;
  height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $danger;
  padding-left: 5px;
  p {
    color: $danger;
    margin: 0px;
    max-width: 160px;
  }
}

@keyframes w100 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes op {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
