@import 'colors.scss';

.conteiner {
  margin-bottom: 20px;

  .text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $neutral;
    margin-bottom: 20px;
  }

  .textFinal {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $neutral;
  }

  p {
    font-size: 18px;
    height: 20px;
    color: $text_secondary;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  strong {
    font-size: 18px;
    color: $text_primary;
  }
}
