@import 'colors.scss';

.inputgroup {
  width: 20vw !important;
}

.input {
  box-shadow: none !important;
  border-color: $neutral_600;
  border-radius: 5px !important;
}

.input:focus {
  border-color: $neutral_600;
  border-radius: 5px !important;
}

.inputClearButton {
  position: absolute;
  right: 15px;
  z-index: 10;
  cursor: pointer;
  top: 9px;
}
