@import 'colors.scss';

.container {
  height: calc(100vh - 50px);
  padding: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 32px;
    border-bottom: 1.5px solid $neutral_300;

    @media (min-width: 768px) {
      height: 15%;
    }

    .titleConteiner {
      margin-left: 10px;

      .headline {
        font-weight: 500;
        font-size: 27.65px;
        line-height: 41.47px;
        margin-bottom: 4px;
        margin-top: 10px;
      }

      p {
        margin: 0;
        color: $text_secondary;
        margin-bottom: 16px;
      }
    }
  }

  .createForm {
    margin: 30px;
  }

  .error {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      white-space: nowrap;
      font-size: 23.04px;
      line-height: 28.8px;
      font-weight: 400;
    }

    h5 {
      color: $text_secondary;
      line-height: 20px;
      font-weight: 400;
    }
  }
}

.pointer {
  cursor: pointer;
}
